/*asdf*/

<style type="text/css">
 #truemiddle {background: none repeat scroll 0 0 #eef2ff;}
 .slideshow{ border: 1px solid #ccc; height:116px; padding:0; margin-bottom:0px;}
 .slideshow img{ display: none; height:116px;}
 .slideshow img.first {display:block;}
 .user-mod .user_name {color:rgb(76,76,166) !important;}    

</style>
